/* Estilos Generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

/* Estilos para el encabezado y el menú de navegación */
header {
    background-color: #0077b6;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd00;
}

/* Estilos para la sección y los artículos */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #e1e5ea;
}

section h2 {
    color: #0077b6;
}

section article {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

section article:last-child {
    border-bottom: none;
}

section article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section article video {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #0077b6;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0077b6;
    color: #ffffff;
}

td {
    background-color: #f0f8ff;
}

/* Estilos para el pie de página */
footer {
    background-color: #0077b6;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

/* Transiciones */
a, button {
    transition: all 0.3s ease;
}

a:hover, button:hover {
    transform: scale(1.05);
}
